body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin: 20px 0;
  background-color: pink;
  font-family: monospace;
}

@media (min-width: 900px) {
  .large-menu a {
    color: DarkOrange;
    font-size: 30px;
  }
}

.small-menu a {
  color: Skyblue;
  text-decoration: line-through;
}
